.userCard {
  width: 30%;
  margin: 1%;
  padding: 5px 0 0 0;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
  @media (max-width: 800px) {
    width: 45%;
  }
}
.link {
  color: black;
  text-decoration: none;
}

.avatar {
  display: block;
  margin: 0 auto;
}

.male {
  border: 5px solid #00bfff;
  background-color: #effbff;
}

.female {
  border: 5px solid #fb36a1;
  background-color: #faebfa;
}
