.user {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
}

.avatar {
  width: 200px;
  display: block;
  margin: 10px auto;
}

.male {
  border: 5px solid #00bfff;
  background-color: #cff3ff;
}

.female {
  border: 5px solid #fb36a1;
  background-color: #ffc9fe;
}
